.portfolio-content {
  background-color: var(--light-background);
}

.buttons-part {
  padding-block: 94px;
  padding-bottom: 0;

  &__buttons-branch-list {
    margin: 0 auto;
    display: flex;
    padding: 0 318px 50px 310px;

    &:first-child {
      margin-left: 0;
    }
  }
}
