.portfolio-content {
  background-color: var(--light-background);
}

.buttons-part {
  @extend %section;
  padding-bottom: 0;

  &__buttons-branch-list {
    @extend %list;
    display: flex;
    padding: 0 318px 50px 310px;

    &:first-child {
      margin-left: 0;
    }
  }
}
